#groupsDisplay{
	/*background-color:#1a5276;*/
	background-color: #2e4053;
}

#itemsDisplay{
	/*background-color: #e5e8e8;*/
	background-color: #f2f4f4; 
}

.groupBtn:hover{
	background-color: #34495e;
}

.uk-logo{
	justify-content: flex-start;
}

.itemTypePanel {
	background-color:  #d0d3d4;
}

.itemTypePanel:hover {
	background-color:  #c0c5c6;
}

.createPanel{
	background-color:#3a5068;
	margin: 15px;
}

.appSelect:hover{
	background-color:  #d6dbdf;
}

.topNav, .uk-navbar-container {
	background-color: #2b7575 !important;
}

.documentText {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 160px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
}